<div class="container">
  <a class="link" href="https://github.com/ozencb" target="_blank">github</a>
  <a
    class="link"
    href="https://www.linkedin.com/in/ozencb/?locale=en_US"
    target="_blank">linkedin</a
  >
  <a class="link" href="mailto:bilgiliozenc@gmail.com">e-mail</a>
  <a class="link" href="/rss.xml">rss</a>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    font-size: 0.8em;
  }

  a {
    color: #666;
  }
  a:visited {
    color: #666;
  }
</style>
